@model Blog.ViewModels.IndexViewModel

<nav class="nav d-flex justify-content-between input-group">
    @if (ViewBag.CategoryListCount<10) { 
        foreach (var x in ViewBag.CategoryList)
        {
            <a class="p-2 link-secondary" asp-controller="ArticleModel" asp-action="Find" asp-route-SelectedCategory="@x.Id">@x.Title</a>
        }
    }
</nav>



    <div class="col-md-8 me-width-main">
        @foreach (var x in Model.ArticleModels)
        {
            @await Html.PartialAsync(@"Patrial/BlogComponent.cshtml", x)
        }
        <div class="text-center">
            @if (Model.ArticleModels.Count()>0)
            {
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                       class="btn btn-outline-dark">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        @(Model.PageViewModel.PageNumber - 1)
                    </a>
                }


                <a class="btn btn-outline-dark bg-dark text-white">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    @(Model.PageViewModel.PageNumber)
                </a>

                @if (Model.PageViewModel.HasNextPage)
                {
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                       class="btn btn-outline-dark">
                        @(Model.PageViewModel.PageNumber + 1)
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
            }
            else
            {
                <div class="text-center"><h1>Здесь пока что ничего нет</h1></div>
            }


        </div>
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync(@"Patrial/SidebarPartial.cshtml")
    </div>


