@model Blog.Models.ArticleModel


<div class="row">
    <div class="col-3">
        @await Html.PartialAsync(@"Patrial/HelperElements.cshtml")
    </div>
    <div class="col m-5">
        <form enctype="multipart/form-data" method="post" asp-controller="articleModel" asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="">

                <img src="/StateImage/Безымянный.png" class="img-fluid" alt="...">
                <div class="form-group">
                    <label asp-for="HelloImage.ImageFile"></label>
                    <input asp-for="HelloImage.ImageFile" accept="image/jpg,image/jpeg" />
                    <span asp-validation-for="HelloImage.ImageFile"></span>
                </div>

                <div class="input-group input-group-lg">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" value="@Model.Title" type="text" class="form-control border-dark form-group" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                    <span asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"></label>
                @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.Category, "Id", "Title")) <!--cool-->
                <span asp-validation-for="CategoryId"></span>
            </div>

            <div class="form-group">
                <label asp-for="ShortDesk"></label>
                <textarea rows="5" class="input-group resize-none" asp-for="ShortDesk">@Model.ShortDesk</textarea>
                <span asp-validation-for="ShortDesk"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea rows="100" class="input-group" id="text" asp-for="Description">@Model.Description</textarea>
                <span asp-validation-for="Description"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tags"></label>
                <input asp-for="Tags" value="@Model.Tags" />
                <span asp-validation-for="Tags"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="BlogName"></label>
                <input asp-for="BlogName" value="@Model.BlogName" />
                <span asp-validation-for="BlogName"></span>
            </div>
            
            <input  hidden name="OldName" value="@ViewBag.OldModelName"/>

            <input type="submit" value="Создать" class="btn bg-info" />

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}