@model Blog.ViewModels.indexArticleViewModel

<div>
    <div class="card mb-3" onload="ReturnWidth()">
        @if (Model.HelloImage != null)
        {
            <img class="card-img-top" src="@($"/Image/{Model.BlogName}_{Model.AvtorName}/{Model.HelloImage.ImageName}")" />
        }
    <div class="card-body bg-swap">
        <h5 class="card-title">@Model.Title</h5>
        @if (!string.IsNullOrEmpty(Model.ShortDesk))
        {
            <p class="card-text">@Model.ShortDesk</p>
        }

        <p class="card-text"><small class="text-muted">дата последнего обновления  @Model.ReleseDate</small></p>
        <a asp-action="Details" asp-controller="ArticleModel" asp-route-Id="@Model.Id" class="btn swap-text">Читать дальше</a>

        @if (User.Identity.Name == Model.AvtorName)
        {
        <a asp-action="Edit" name="editbtn" onclick="btnLocker()" asp-controller="ArticleModel" asp-route-Id="@Model.Id">Изменить</a>
        }
        @if (User.IsInRole("admin")|| User.Identity.Name == Model.AvtorName)
        {
            <a asp-action="Delete" asp-controller="ArticleModel" asp-route-id="@Model.Id">Удалить</a>
        }
    </div>
    </div>
</div>
